html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

p {
  font-weight: bold;
  font-size: 1.2vw;
}

select {
  color: #000;
  font-weight: bold;
}

.item {
  display: flex;
  margin: -0.2vw 1.8vw 1vw 1vw;
}

.part {
  display: flex;
  width: 100vw;
  height: auto;
  margin: 0 1vw 0 1vw;
}

.beat {
  display: block;
}

.beat p {
  margin: 0;
}

.name {
  margin: 2vw 0 0 0;
}

.name p {
  width: 4vw;
  margin: 0.5vw -0.2vw 1vw 0;
}

.part select {
  width: 4vw;
  height: 3vw;
  margin: 0;
}

.sound {
  background-color: #ffff00;
}

.rhythm_img {
  display: flex;
  margin: 8vw 0 4vw 0;
  justify-content: space-around;
  font-size: 4vw;
}

#tan,
#tata,
#un,
#tau,
#uta,
#takka {
  border: 0.2vw solid lightblue;
  width: 56px;
  height: 64px;
}

#ta__n,
#ta_nta,
#tata_n {
  border: 0.2vw solid lightpink;
  width: 112px;
  height: 64px;
}

.rhythm_img p {
  margin: 0;
}

.tempo_and_piano {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin: 4vw 0 0 0;
}

#tempo_category {
  display: flex;
  width: 12vw;
  height: 4vw;
  margin: 3vw 0 0 0.5vw;
  background-color: #eee8aa;
}

.buttons {
  display: flex;
  margin: 3vw 0 0 0;
  justify-content: space-around;
}

button {
  width: 8vw;
  height: 4vw;
  border-radius: 1.5vw;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 1.5vw;
  margin: 0.2vw 0.5vw 0 0;
}

#play_mode {
  width: 10vw;
  height: 4vw;
  margin: 0.2vw 0.5vw 0 0;
  background-color: #eedab9;
}

#play {
  background-color: #ff7e00;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 2vw;
}

#play::before {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 0.8vw solid transparent;
  border-left: 1.5vw solid currentColor;
  box-sizing: border-box;
  content: "";
}

#stop {
  background-color: #ffa500;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 2vw;
}

#stop::before,
#stop::after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.4vw;
  height: 1.5vw;
  box-sizing: border-box;
  background-color: currentColor;
  content: "";
}

#stop::before {
  left: 3.5vw;
}

#stop::after {
  left: 4.5vw;
}

.piano {
  display: flex;
  width: 36vw;
  height: 8vw;
  margin: 1vw 2vw;
  border: 0.8vw solid #ffff00;
  border-radius: 0.8vw;
}

.white {
  position: relative;
  width: 20vw;
  background-color: white;
  border: 1px solid gray;
}

.white p {
  position: absolute;
  bottom: 0;
  left: 1vw;
}

.black {
  width: 6vw;
  height: 3vw;
  background-color: black;
  margin: 0 -0.6vw;
  z-index: 2;
}

#first{
  margin-top: 4vw;
}
